# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
.pytest_cache/
.behave/

# IDE / Editor
.vscode/
.idea/
.antigravitycli/

# Docker
Dockerfile
docker-compose.yml
.dockerignore
